In [89]:
from setup import *

df = pd.read_csv('../_LeagueofLegends.csv')
df = df.loc[df['Year']==2016]

In [54]:
df.drop('MatchHistory', axis=1, inplace = True)

In [5]:
df.columns

Index(['League', 'Season', 'Year', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers',
       'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'goldred', 'rKills',
       'rTowers', 'rInhibs', 'rDragons', 'rBarons', 'rHeralds', 'blueTop',
       'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp',
       'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle',
       'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
       'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop',
       'redTopChamp', 'goldredTop', 'redJungle', 'redJungleChamp',
       'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle',
       'redADC', 'redADCChamp', 'goldredADC', 'redSupportChamp', 'redSupport',
       'goldredSupport', 'redBans'],
      dtype='object')

In [95]:
red_jungle = df[['redJungleChamp','rResult']]
red_jungle.columns = ['Champion', 'WinFlag']
blue_jungle = df[['blueJungleChamp','bResult']]
blue_jungle.columns = ['Champion', 'WinFlag']
all_jungle = pd.concat([red_jungle,blue_jungle], axis=0).reset_index(drop=True)
# display(all_jungle)
print(sum(all_jungle['WinFlag']))
print(len(all_jungle))
jungle_champs = pd.merge(all_jungle.groupby('Champion').apply(lambda g: (sum(g['WinFlag'])/len(g))).reset_index(name = 'WinRate'),all_jungle.groupby('Champion').apply(lambda g: len(g)).reset_index(name = 'Games'))
display(jungle_champs.sort_values('WinRate',ascending=False))
display(sum(jungle_champs['Games'].loc[jungle_champs['WinRate']>=0.5]))
# jungle_champs.columns = ['Count']
# display(jungle_champs.sort_values('Count', ascending = False))

1659
3318

       Champion  WinRate  Games
0       Alistar    1.000      1
12     Malzahar    1.000      1
19        Quinn    1.000      3
13  Mordekaiser    1.000      1
24      Skarner    0.714      7
21       Rengar    0.625      8
15     Nocturne    0.600      5
14      Nidalee    0.551    354
11       LeeSin    0.549    164
6        Gragas    0.547    525
1         Amumu    0.500      2
3          Ekko    0.500      2
16         Nunu    0.500      4
17         Olaf    0.500     92
20       RekSai    0.496    694
8       Hecarim    0.489     88
4         Elise    0.488    686
7        Graves    0.456    338
10      Kindred    0.446    269
28          Zac    0.444      9
25      Trundle    0.429      7
22       Rumble    0.385     13
18        Poppy    0.333      3
9        Khazix    0.300     10
2       DrMundo    0.286      7
26         Udyr    0.250      8
5       Evelynn    0.167      6
23      Sejuani    0.100     10
27     Volibear    0.000      1

[29 rows x 3 columns]

1169

In [42]:
jungle_champs = np.append((df['redJungleChamp'].values),(df['blueJungleChamp'].values))

unique, counts = np.unique(jungle_champs, return_counts = True)

jungle_counts = np.asarray((unique,counts)).T

index = np.argsort(jungle_counts[:,1])

jungle_freq = np.flip(jungle_counts[index,:],0)
print(jungle_freq)

[['RekSai' 1339]
 ['Elise' 1040]
 ['Gragas' 977]
 ['LeeSin' 734]
 ['Graves' 660]
 ['Nidalee' 517]
 ['Khazix' 434]
 ['Rengar' 366]
 ['Kindred' 271]
 ['JarvanIV' 238]
 ['Olaf' 159]
 ['Sejuani' 150]
 ['Evelynn' 148]
 ['Nunu' 102]
 ['Hecarim' 93]
 ['Ivern' 74]
 ['Ekko' 73]
 ['Vi' 63]
 ['Zac' 28]
 ['Rumble' 22]
 ['Udyr' 14]
 ['Nocturne' 13]
 ['Skarner' 10]
 ['Trundle' 8]
 ['DrMundo' 8]
 ['Nautilus' 7]
 ['Shyvana' 7]
 ['Warwick' 6]
 ['Pantheon' 6]
 ['Shaco' 5]
 ['Fizz' 4]
 ['Amumu' 4]
 ['Poppy' 3]
 ['Quinn' 3]
 ['Volibear' 3]
 ['XinZhao' 2]
 ['Rammus' 2]
 ['FiddleSticks' 2]
 ['Sion' 2]
 ['Alistar' 1]
 ['Camille' 1]
 ['Malzahar' 1]
 ['MonkeyKing' 1]
 ['Gnar' 1]
 ['Mordekaiser' 1]
 ['Aatrox' 1]]

In [44]:
df['bKills'][0]

"[[10.82, 'C9 Hai', 'TSM Bjergsen'], [16.286, 'C9 LemonNation', 'TSM WildTurtle', 'TSM Santorin', 'TSM Bjergsen', 'TSM Lustboy'], [18.733, 'C9 Hai', 'TSM Bjergsen', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [18.88, 'C9 Meteos', 'TSM Dyrus', 'TSM Santorin', 'TSM Bjergsen', 'TSM WildTurtle', 'TSM Lustboy'], [27.005, 'C9 Balls', 'TSM Bjergsen', 'TSM Dyrus', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [27.029, 'C9 LemonNation', 'TSM Dyrus', 'TSM Bjergsen', 'TSM WildTurtle', 'TSM Lustboy'], [27.109, 'C9 Hai', 'TSM WildTurtle', 'TSM Dyrus', 'TSM Santorin', 'TSM Bjergsen', 'TSM Lustboy'], [28.989, 'C9 LemonNation', 'TSM Bjergsen', 'TSM Dyrus', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [29.073, 'C9 Balls', 'TSM Bjergsen', 'TSM Dyrus', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [30.104, 'C9 Balls', 'TSM WildTurtle', 'TSM Santorin', 'TSM Bjergsen', 'TSM Lustboy'], [32.801, 'C9 Hai', 'TSM Santorin', 'TSM Bjergsen', 'TSM WildTurtle', 'TSM Lustboy'], [32.85, 'C9 Balls', 'TSM Bjergsen', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [33.017, 'C9 LemonNation', 'TSM Bjergsen', 'TSM Dyrus', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [38.889, 'C9 Meteos', 'TSM Bjergsen', 'TSM Dyrus', 'TSM Santorin', 'TSM WildTurtle', 'TSM Lustboy'], [38.906, 'C9 LemonNation', 'TSM WildTurtle', 'TSM Dyrus', 'TSM Santorin', 'TSM Bjergsen', 'TSM Lustboy'], [38.964, 'C9 Sneaky', 'TSM WildTurtle', 'TSM Dyrus', 'TSM Santorin', 'TSM Bjergsen', 'TSM Lustboy']]"